{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>Sell Shares</h2>
    <form action="/sell" method="post">
        <div class="row">
            <select class="form-select" name="symbol">
                <option disabled selected value="">&nbsp;</option>
                {% for stock in stocks %}
                <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="row">
            <input class="form-control" placeholder="Number of shares" name="shares" type="text" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Sell</button>
    </form>
{% endblock %}
